expo-env.d.ts

.env
.env.local
.env.*.local

node_modules
.expo
dist
web-build

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

google-services.json
GoogleService-Info.plist

.DS_Store
*.pem

android

npm-debug.*
yarn-debug.*
yarn-error.*

.metro-health-check*

.vscode
.idea

*.log

.eas
credentials.json

.env.local
